/* background image, border and shadow*/

.background {
  background-image: url(https://image.noelshack.com/fichiers/2018/09/1/1519683207-bamboo.png);
  height: 490px;
  width: 330px;
  border-width: 1px;
  border-style: solid;
  border-color: #318A3A;
  border-radius: 10px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.6);
}

/*title*/

h3 {
  width: 322px;
  margin-top: 5px;
  margin-bottom: 17px;
  margin-left: 4px;
  background-color: #E9FDE3;
  opacity: 0.75;
  box-shadow: 0px 2px 10px #444;
  font-family: 'Handlee';
  font-size: 35px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 3px;
  border-radius: 10px;
}

/*interesting facts*/

.interesting {
  font-style: italic;
}

/*information */

.cadretexte {
  width: 300px;
  border-width: 1px;
  border-style: solid;
  border-color: #318A3A;
  border-radius: 10px;
  background-color: #E9FDE3;
  opacity: 0.95;
  margin-top: 5px;
  margin-left: 15px;
}

/*margin + font size of the animal facts*/

.texte {
  font-size: 12px;
  margin-left: 3px;
  margin-right: 3px;
  text-align: justify;
}

/*picture*/

.photo {
  text-align: center;
  margin-left: 15px;
  border-color: #318A3A;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: -1px -1px -1px -1px;
}

/*removing • from the facts*/

ul {
  list-style: none;
  margin-left: 0;
  padding-left:0;
}

/*facts in bold*/

span {
  font-weight: bold;
}
